---
import Logo from "./Logo.astro";
import Navigation from "./Navigation.astro";
const isHomePage = Astro.url.pathname.split("/")[1] === "";

interface Props {
  title?: string;
  description?: string;
  image?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

const {
  title = SITE_TITLE,
  description = SITE_DESCRIPTION,
  image = "/logo.png",
} = Astro.props;

import "../styles/tailwind.css";
---

<!doctype html>
<html lang="en" x-init="init()">
  <head>
    <meta charset="UTF-8" /><meta
      http-equiv="Content-Type"
      content="text/html; charset=utf-8"
    /><meta name="viewport" content="width=device-width,initial-scale=1" /><link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/apple-touch-icon.png"
    /><link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon-32x32.png"
    /><link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon-16x16.png"
    /><link rel="manifest" href="/site.webmanifest" /><link
      rel="canonical"
      href={canonicalURL}
    /><title>{title}</title>

    <meta name="title" content={title} /><meta
      name="description"
      content={description}
    /><meta property="og:type" content="website" /><meta
      property="og:url"
      content={Astro.url}
    /><meta property="og:title" content={title} /><meta
      property="og:description"
      content={description}
    /><meta property="og:image" content={new URL(image, Astro.url)} /><meta
      name="twitter:card"
      content="summary_large_image"
    /><meta name="twitter:site" content="@hiteshjoshi" /><meta
      name="twitter:creator"
      content="@hiteshjoshi"
    /><meta name="twitter:url" content={Astro.url} /><meta
      name="twitter:title"
      content={title}
    /><meta name="twitter:description" content={description} /><meta
      name="twitter:image"
      content={new URL(image, Astro.url)}
    /></head
  >

  <body class="bg-white text-gray-800 antialiased dark:bg-gray-900">
    <div class="min-h-screen">
      {
        isHomePage ? (
          <div class="py-10 flex items-center justify-center">
            <Logo />
          </div>
        ) : null
      }
      <Navigation />
      <div class="max-w-screen-xl mx-auto p-5 sm:p-8 md:p-12 relative">
        <slot />
      </div>
    </div>
    <script
      is:inline
      src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/3.13.3/cdn.min.js"
    ></script>
  </body>
</html>
